* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.ul-nav li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #6195ff;
    transition: width 1s;
}


.ul-nav li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #6195ff;
}

.aaa::after {

    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #6195ff;
}


.btn:hover {
    opacity: 0.5;
    transition: 1s;
}

.hed {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.img {

    width: 25%;
    margin: 0px;
    float: left;
    left: 23px;
}

.logo {

    margin-top: 3px;
    margin-left: 40px;
}

.ul-nav {
    margin: 0;
    width: 60%;
    float: left;
    margin-left: 7%;
    margin-top: 20px;

}

.ul-nav li {
    display: inline-block;
    padding: 10px 30px;
}

.ul-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


.drobdon {
    position: relative;
}

.drobdon-min {
    position: absolute;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s;
    width: 100px;


}

.hed>ul li a:hover+.drobdon-min {
    visibility: visible;
    opacity: 1;
}

.drobdon-min:hover {
    visibility: visible;
    opacity: 1;
}

.cler {
    clear: both;
}

/*home*/

.cont {
    width: 80%;
    margin: auto;
}

.Home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.bc {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    text-align: center;
}

.Home-h1 {
    text-align: center;
    font-size: 44px;
    color: #fff;
    text-transform: uppercase;
}

.Home-p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    min-width: 150px;
    padding: 13px 0;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}

.btn-start {
    color: black;
}

.btn-More {
    color: #fff;
    background-color: #6195ff;
}

/*__________sectoin__________*/

.sect-hed {
    text-align: center;
    margin-bottom: 20px;
}

.sect-hed .sect-titl {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.sect-hed .line {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto 70px auto;
    background-color: #6195ff;
}

.pd-y {
    padding: 120px 0;
}

.about-in.mg {
    margin: 0 5%;
}


.about-in {
    text-align: center;
    width: 30%;
    float: left;
    border: 1px solid #e8e8e8;
    padding: 50px 25px;
}

.about-in .icon {
    color: #6195ff;
    margin-bottom: 10px;
}

.about-in .about-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 1s;
}

.about-p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-a {
    color: #6195ff;
    text-transform: capitalize;
    text-decoration: none;
}

.err {
    position: relative;
}

.err::after {

    position: absolute;
    content: "";
    width: 0px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #333;
    transition: width 0.5s;
    z-index: -1;

}

.err:hover::after {
    content: "";
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.about-in:hover .about-title {
    color: #fff;
}

/*_________port_________*/

.port {
    background: #f9f9f9;
}


.portfolio-in {
    width: 30%;
    float: left;
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
}

.portfolio-in img {
    width: 100%;
}

.portfolio-in.mg {
    margin: 0 5%;
}

.portfolio-in .ler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

.lyr-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;

}

.ler .category {
    color: #6195ff;
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
    transition: top 0.8;
    transition-delay: 0.8;
    opacity: 0;
    visibility: hidden;
}

.ler .category-title {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.ler a {
    color: #fff;
    position: relative;
    top: 10px;
    transition: top 0.5;
    transition-delay: 0.7s;
    opacity: 0;
    visibility: hidden;
}

.ler a i {
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;

}


.portfolio-in:hover .ler .category,
.portfolio-in:hover .category-title,
.portfolio-in:hover .ler a,
.portfolio-in:hover .ler {
    top: 0;
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

/*________offer_______*/


.offer-over {
    overflow: hidden;
}

.offer-in {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.offer-in.mg {
    margin: 0 5%;
}

.offer-in .icon {
    position: absolute;
    left: 15px;
    top: 30px;
    color: #6195ff;
}

.offer-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 1s;
}

.offer-p {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}

.offer-in:hover .offer-title {
    color: #fff;
}

/*________serves______*/

.serves {
    background-color: #f9f9f9;
}

.serves-item {
    width: 50%;
    float: left;
}

.serves-item .sect-hed {
    text-align: left;
}

.serves-item .line {
    margin: 0 0 40px 0;
}

.serves-item .serves-p {
    padding-right: 20px;
    color: #999;
    line-height: 1.4;
    font-size: 17px;
    margin-bottom: 20px;
}

.serves-list {
    list-style: none;

}

.serves-list li {
    margin-bottom: 10px;
    color: #999;
}

.serves-list li i {
    border: 1px solid #6195ff;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.serves-img {
    width: 100%;
}

.serves-item .ul-bol {
    list-style: none;
    text-align: center;
}

.serves-item .ul-bol li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: #333;
}

.bba {
    background-image: url(../images/background/background2.webp);
    width: 100vw;
    height: 300px;
}

.numb {
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

.numb-items {
    overflow: hidden;
}

.numb-item {
    width: 25%;
    float: left;
    text-align: center;
}

.numb-item .icon {
    color: #6195ff;
    margin-bottom: 15px;
}

.numd-title {
    font-weight: bolder;
    font-size: 25px;
    color: #fff;
}

.numd-span {
    color: #fff;

}

.numb .bc {
    margin-top: 50px;
}

/*________ptjel_____*/

.pricing-itme {
    width: 30%;
    padding: 20px 15px;
    float: left;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.pricing-itme.mg {
    margin: 0 5%;
}

.pricing-title {
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    color: #999;
}

.crc {
    width: 130px;
    height: 130px;
    padding: 30px 0;
    margin: 20px auto;
    border: 2px solid #6195ff;
    border-radius: 50%;
}

.crc-title {
    font-size: 50px;
    transition: color 0.5s;
}

.crc-month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.cec-ul {
    list-style: none;
}

.cec-ul li {
    color: #999;
    line-height: 1.8;
}

.crc-btn {
    background: none;
    border: 0;
    display: block;
    margin: 15px auto 0 auto;
    padding: 10px;
    border: 2px solid #6195ff;
    color: #6195ff;
    width: 140px;
}


.ert {
    position: relative;
}

.ert::after {

    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 0px;
    background: #333;
    transition: height 0.5s;
    z-index: -1;

}

.ert:hover::after {
    content: "";
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

.pricing-itme:hover .pricing-title {
    color: #0b1730;
}

.pricing-itme:hover .crc-title,
.pricing-itme:hover .crc-month {
    color: #fff;
}

.pricing-itme:hover .crc {
    border: 2px solid #0e1d3b;
}

.testmon {
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    height: 400px;
}

.testmon-items {
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testmon-item {
    width: 40%;
    float: left;
    color: #fff;
    margin: 0 5%;
}

.testmon-item .testmon-top {
    padding: 10px 0 35px 100px;
    position: relative;
}

.testmon-item .testmon-top img {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}

.testmon-item .testmon-top h2 {
    margin: 5px 0;
}

.testmon-item .testmon-top span {
    color: #6195ff;
}

.testmon-p {
    line-height: 1.6;
    font-size: 17px;
}

/*_________team_______*/
.team-itams {
    overflow: hidden;
}

.team-itam {
    width: 30%;
    float: left;
    background: #e8e8e8;
    padding: 40px 20px;
    text-align: center;
}

.team-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-img img {
    width: 100%;
}

.team-info-title {
    color: #222;
    margin: 10px 0;
}

.team-info-span {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
}

.team-img-bc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.team-img-bc a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #6195ff;
    margin-left: auto;

}

.team-img-bc a i {
    line-height: 40px;
}

.team-itam.mg {
    margin: 0 5%;
}

.team-itam:hover .team-img-bc {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.team-itam:hover .team-info-title{
    color: #6195ff;
}

.team-itam:hover .team-info-span{
    
    color: #6195ff;
    
}

.sect-titl {
    text-transform: capitalize;
}


/*______________k_____________*/


.recents{
    background: #f8f8f8;
}

.recents-items-pro{

    width: 30%;
    float: left;
    border: 1px solid #e8e8e8;
}

.recents-items-pro img{
    width: 100%;
}

.recents-items-pro.mg{
    margin: 0 5%;
}

.recents-line{
    width: 25%;
    float: left;
    margin: 10px 0 0px 0;
}

.recents-line i{
    color: #6195ff;
    font-size: 15px;
}

.recents-line-span{
    font-size: 13px;
}

.recents-title{
    margin: 15px 0;
    text-transform: capitalize;
}

.recents-a{
    display: block;
        margin: 10px 0 10px 0;
        text-decoration: none;
        font-size: 17px;
        color: #2262e2;
}

.recents-img{
    width: 100%;
    height: 100%;
}



/*___________,_________*/

.fotar{
    background: #000016;
    text-align: center;
    padding: 60px 0;
}

.fotar-ul{
    margin: 30px 0;
    list-style: none;
}

.fotar-ul li{
    display: inline-block;
    margin: 0 10px;
}

.fotar-ul li a {
    display: block;
    background: #2262e2;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
}

.fotar-ul li a i{
    line-height: 50px;
}


.fotar-p{
    margin-top: 25px;
    font-size: 15px;
    color: #fff;
}
